<!-- loader END -->
        <!-- Sign in Start -->
        <section class="sign-in-page">
            <div class="container bg-white mt-5 p-0">
                <div class="row no-gutters">
                    <div class="col-sm-6 align-self-center">
                        <div class="sign-in-from">
                            <h1 class="mb-0">Sign in</h1>
                            <%- include ('./partials/messages') %>
                            <form action="/app/authenticate" method="post" class="mt-4">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Email address</label>
                                    <input type="email" name="username" class="form-control mb-0" id="username" placeholder="Enter email">
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Password</label>
                                    <a href="/forgot_password" class="float-right">Forgot password?</a>
                                    <input type="password" name="password" class="form-control mb-0" id="password" placeholder="Password">
                                </div>
                                <div class="d-inline-block w-100">
                                    <div class="custom-control custom-checkbox d-inline-block mt-2 pt-1">
                                        <button type="submit" class="btn btn-primary float-right">Sign in</button>
                                    </div>
                                </div>
                            </form>
                            <a href="/signup" class="float-right">Create Account</a>
                        </div>
                    </div>
                    <%- include ('./partials/sign_log_carousel') %>
                </div>
            </div>
        </section>
        <!-- Sign in END -->
      