<div class="wrapper">
   <%- include ("./partials/sidebars") %>

   <!-- TOP Nav Bar -->
   <%- include ("./partials/navbar") %>

   <div id="content-page" class="content-page">
      <div class="container-fluid">
         <div class="row">
            <div class="col-md-6 col-lg-3">
               <div class="iq-card iq-card-block iq-card-stretch iq-card-height">
                  <div class="iq-card-body relative-background">
                     <div class="d-flex align-items-center">
                        <div class="rounded-circle iq-card-icon iq-bg-primary mr-3"> <i
                              class="ri-exchange-dollar-line"></i></div>
                        <div class="text-left">
                           <h4 class="">$425</h4>
                           <h5 class="">Net sales</h5>
                        </div>
                     </div>
                     <p class=" mb-0 mt-3">Total for This Month.</p>
                     <div class="background-image">
                        <img src="/images/page-img/36.png" class="img-fluid" alt="img-36">
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-md-6 col-lg-3">
               <div class="iq-card iq-card-block iq-card-stretch iq-card-height">
                  <div class="iq-card-body relative-background">
                     <div class="d-flex align-items-center">
                        <div class="rounded-circle iq-card-icon iq-bg-warning mr-3"> <i class="ri-guide-line"></i></div>
                        <div class="text-left">
                           <h4 class="">$425</h4>
                           <h5 class="">Gross profit</h5>
                        </div>
                     </div>
                     <p class=" mb-0 mt-3">Total for This Month.</p>
                     <div class="background-image">
                        <img src="/images/page-img/37.png" class="img-fluid" alt="img-37">
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-md-6 col-lg-3">
               <div class="iq-card iq-card-block iq-card-stretch iq-card-height">
                  <div class="iq-card-body relative-background">
                     <div class="d-flex align-items-center">
                        <div class="rounded-circle iq-card-icon iq-bg-danger mr-3"> <i
                              class="ri-money-pound-circle-line"></i></div>
                        <div class="text-left">
                           <h4 class="">425</h4>
                           <h5 class="">Gross margin</h5>
                        </div>
                     </div>
                     <p class=" mb-0 mt-3">Total for This Month.</p>
                     <div class="background-image">
                        <img src="images/page-img/38.png" class="img-fluid" alt="img-38">
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-md-6 col-lg-3">
               <div class="iq-card iq-card-block iq-card-stretch iq-card-height">
                  <div class="iq-card-body relative-background">
                     <div class="d-flex align-items-center">
                        <div class="rounded-circle iq-card-icon iq-bg-info mr-3"> <i class="ri-numbers-line"></i></div>
                        <div class="text-left">
                           <h4 class="">425</h4>
                           <h5 class="">Average order value</h5>
                        </div>
                     </div>
                     <p class=" mb-0 mt-3">Total for This Month.</p>
                     <div class="background-image">
                        <img src="images/page-img/39.png" class="img-fluid" alt="img-39">
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-lg-8">
               <div class="iq-card iq-card-block iq-card-stretch iq-card-height" style="position: relative;">
                  <div class="iq-card-header d-flex justify-content-between">
                     <div class="iq-header-title">
                        <h4 class="card-title">Live Transactin</h4>
                     </div>
                  </div>
                  <div class="iq-card-body">
                     <div id="high-dynamic-chart" style="height: 410px;"></div>
                  </div>

               </div>
            </div>
            <div class="col-lg-4">
               <div class="iq-card iq-card-block iq-card-stretch iq-card-height"
                  style="background: #ffffff url(images/page-img/40.png) no-repeat scroll bottom; background-size: contain; height: 505px;">
                  <div class="iq-card-body">

                  </div>
               </div>
            </div>
            <div class="col-lg-4">
               <div class="iq-card iq-card-block iq-card-stretch iq-card-height">
                  <div class="iq-card-header d-flex justify-content-between">
                     <div class="iq-header-title">
                        <h4 class="card-title">Top Perfoming product realtime</h4>
                     </div>
                  </div>
                  <div class="iq-card-body">
                     <div id="home-perfomer-chart"></div>
                  </div>
               </div>
            </div>
            <div class="col-lg-4">
               <div class="iq-card iq-card-block iq-card-stretch iq-card-height">
                  <div class="iq-card-header d-flex justify-content-between">
                     <div class="iq-header-title">
                        <h4 class="card-title">customers buying in real time</h4>
                     </div>
                  </div>
                  <div class="iq-card-body">
                     <ul class="perfomer-lists m-0 p-0">
                        <li class="d-flex mb-4 align-items-center">
                           <div class="user-img img-fluid"><img src="images/user/01.jpg" alt="story-img"
                                 class="rounded-circle avatar-40"></div>
                           <div class="media-support-info ml-3">
                              <h6>Paul Molive</h6>
                              <p class="mb-0 font-size-12">UI/UX Designer</p>
                           </div>
                           <div class="iq-card-header-toolbar d-flex align-items-center">
                              <div class="dropdown">
                                 <span class="dropdown-toggle text-primary" id="dropdownMenuButton41"
                                    data-toggle="dropdown" aria-expanded="false" role="button">
                                    <i class="ri-more-2-line"></i>
                                 </span>
                                 <div class="dropdown-menu dropdown-menu-right" style="">
                                    <a class="dropdown-item" href="#"><i class="ri-eye-line mr-2"></i>View</a>
                                    <a class="dropdown-item" href="#"><i
                                          class="ri-bookmark-line mr-2"></i>Appointment</a>
                                 </div>
                              </div>
                           </div>
                        </li>
                        <li class="d-flex mb-4 align-items-center">
                           <div class="user-img img-fluid"><img src="images/user/02.jpg" alt="story-img"
                                 class="rounded-circle avatar-40"></div>
                           <div class="media-support-info ml-3">
                              <h6>Barb Dwyer</h6>
                              <p class="mb-0 font-size-12">Developer</p>
                           </div>
                           <div class="iq-card-header-toolbar d-flex align-items-center">
                              <div class="dropdown show">
                                 <span class="dropdown-toggle text-primary" id="dropdownMenuButton42"
                                    data-toggle="dropdown" aria-expanded="true" role="button">
                                    <i class="ri-more-2-line"></i>
                                 </span>
                                 <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" href="#"><i class="ri-eye-line mr-2"></i>View</a>
                                    <a class="dropdown-item" href="#"><i
                                          class="ri-bookmark-line mr-2"></i>Appointment</a>
                                 </div>
                              </div>
                           </div>
                        </li>
                        <li class="d-flex mb-4 align-items-center">
                           <div class="user-img img-fluid"><img src="images/user/03.jpg" alt="story-img"
                                 class="rounded-circle avatar-40"></div>
                           <div class="media-support-info ml-3">
                              <h6>Terry Aki</h6>
                              <p class="mb-0 font-size-12">Tester</p>
                           </div>
                           <div class="iq-card-header-toolbar d-flex align-items-center">
                              <div class="dropdown show">
                                 <span class="dropdown-toggle text-primary" id="dropdownMenuButton43"
                                    data-toggle="dropdown" aria-expanded="true" role="button">
                                    <i class="ri-more-2-line"></i>
                                 </span>
                                 <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" href="#"><i class="ri-eye-line mr-2"></i>View</a>
                                    <a class="dropdown-item" href="#"><i
                                          class="ri-bookmark-line mr-2"></i>Appointment</a>
                                 </div>
                              </div>
                           </div>
                        </li>
                        <li class="d-flex mb-4 align-items-center">
                           <div class="user-img img-fluid"><img src="/images/user/04.jpg" alt="story-img"
                                 class="rounded-circle avatar-40"></div>
                           <div class="media-support-info ml-3">
                              <h6>Robin Banks</h6>
                              <p class="mb-0 font-size-12">Web Designer</p>
                           </div>
                           <div class="iq-card-header-toolbar d-flex align-items-center">
                              <div class="dropdown show">
                                 <span class="dropdown-toggle text-primary" id="dropdownMenuButton44"
                                    data-toggle="dropdown" aria-expanded="true" role="button">
                                    <i class="ri-more-2-line"></i>
                                 </span>
                                 <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" href="#"><i class="ri-eye-line mr-2"></i>View</a>
                                    <a class="dropdown-item" href="#"><i
                                          class="ri-bookmark-line mr-2"></i>Appointment</a>
                                 </div>
                              </div>
                           </div>
                        </li>
                        <li class="d-flex mb-4 align-items-center">
                           <div class="user-img img-fluid"><img src="/images/user/05.jpg" alt="story-img"
                                 class="rounded-circle avatar-40"></div>
                           <div class="media-support-info ml-3">
                              <h6>Barry Wine</h6>
                              <p class="mb-0 font-size-12">Developer</p>
                           </div>
                           <div class="iq-card-header-toolbar d-flex align-items-center">
                              <div class="dropdown show">
                                 <span class="dropdown-toggle text-primary" id="dropdownMenuButton45"
                                    data-toggle="dropdown" aria-expanded="true" role="button">
                                    <i class="ri-more-2-line"></i>
                                 </span>
                                 <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" href="#"><i class="ri-eye-line mr-2"></i>View</a>
                                    <a class="dropdown-item" href="#"><i
                                          class="ri-bookmark-line mr-2"></i>Appointment</a>
                                 </div>
                              </div>
                           </div>
                        </li>
                     </ul>
                  </div>
               </div>
            </div>
            <div class="col-lg-4">
               <div class="iq-card iq-card-block iq-card-stretch iq-card-height-half">
                  <div class="iq-card-body">
                     <h6>Graph Profit Margin</h6>
                     <h2>80%</h2>
                  </div>
                  <div id="chart-1"></div>
               </div>
               <div class="iq-card iq-card-block iq-card-stretch iq-card-height-half">
                  <div class="iq-card-body">
                     <h6>Total revenue</h6>
                     <h2>$9250</h2>
                  </div>
                  <div id="chart-2"></div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>

<script src="/js/highcharts.js"></script>