 <!-- Sidebar  -->
    <%- include ("./partials/sidebars") %>
    
    <!-- TOP Nav Bar -->
    <%- include ("./partials/navbar") %>
    <!-- TOP Nav Bar END -->
    <!-- Page Content  -->


 <div id="content-page" class="content-page">
            <div class="container-fluid">
               <div class="row">
                 <div class="col-sm-12">
                    <div class="iq-card iq-card-block iq-card-stretch iq-card-height">
                       <div class="iq-card-body">
                          <div class="iq-advance-course d-flex align-items-center justify-content-between">
                             <div class="left-block">
                                <div class="d-flex align-items-center">
                                   <img src="images/page-img/29.png" class="img-fluid" alt="icon-img">
                                   <div class=" ml-3">
                                       <h4 class="">Keep track of your payouts</h4>
                                       <p class="mb-0">This is where you'll see a list of all your payouts and the details of each transaction.</p>
                                 </div>
                                </div>
                             </div>
                             <div class="right-block position-relativ">
                                 <a href="#" class="btn btn-primary">Payout</a>
                                 <img src="images/page-img/34.png" class="img-fluid image-absulute image-absulute-1" alt="icon-img">
                                 <img src="images/page-img/35.png" class="img-fluid image-absulute image-absulute-2" alt="icon-img">
                             </div>
                          </div>
                       </div>
                    </div>
                 </div>
               </div>
            <div class="container-fluid">
               <div class="row">
               <div class="col-sm-6 col-md-6 col-lg-4">
                     <div class="iq-card iq-card-block iq-card-stretch iq-card-height">
                        <div class="iq-card-body">
                           <div class="d-flex align-items-center justify-content-between text-right">
                              <div class="icon iq-icon-box rounded-circle bg-success">
                                 <i class="fa fa-usd"></i>
                              </div>
                              <div>
                                 <h5 class="mb-0">Previous paypout</h5>
                                  <span>Apr 2, 2019</span>
                                 <span class="h4 text-success mb-0  d-inline-block w-100">30,290</span>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-sm-6 col-md-6 col-lg-4">
                     <div class="iq-card iq-card-block iq-card-stretch iq-card-height">
                        <div class="iq-card-body">
                           <div class="d-flex align-items-center justify-content-between text-right">
                              <div class="icon iq-icon-box rounded-circle bg-success">
                                 <i class="fa fa-money" aria-hidden="true"></i>
                              </div>
                              <div>
                                 <h5 class="mb-0">Next paypout</h5>
                                  <span>Apr 2, 2019</span>
                                 <span class="h4 text-success mb-0  d-inline-block w-100">25,281</span>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-sm-6 col-md-6 col-lg-4">
                     <div class="iq-card iq-card-block iq-card-stretch iq-card-height">
                        <div class="iq-card-body">
                           <div class="d-flex align-items-center justify-content-between text-right">
                              <div class="icon iq-icon-box rounded-circle bg-success">
                                 <i class="fa fa-balance-scale"></i>
                              </div>
                              <div>
                                 <h5 class="mb-0">Balance</h5>
                                  <span>Apr 2, 2019</span>
                                 <span class="h4 text-success mb-0  d-inline-block w-100">12,396</span>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                </div>
                </div>
               
                
                               <div class="col-lg-12">
                     <div class="iq-card iq-card-block iq-card-stretch iq-card-height">
                        <div class="iq-card-header d-flex justify-content-between">
                           <div class="iq-header-title">
                              <h4 class="card-title">Order Status</h4>
                           </div>
                           <div class="iq-card-header-toolbar d-flex align-items-center">
                              <div class="dropdown">
                                 <span class="dropdown-toggle" id="dropdownMenuButton3" data-toggle="dropdown">
                                 <i class="ri-more-fill"></i>
                                 </span>
                                 <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton3" style="">
                                    <a class="dropdown-item" href="#"><i class="ri-eye-fill mr-2"></i>View</a>
                                    <a class="dropdown-item" href="#"><i class="ri-delete-bin-6-fill mr-2"></i>Delete</a>
                                    <a class="dropdown-item" href="#"><i class="ri-pencil-fill mr-2"></i>Edit</a>
                                    <a class="dropdown-item" href="#"><i class="ri-printer-fill mr-2"></i>Print</a>
                                    <a class="dropdown-item" href="#"><i class="ri-file-download-fill mr-2"></i>Download</a>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="iq-card-body">
                           <div class="table-responsive">
                              <table class="table mb-0 table-borderless">
                                 <thead>
                                    <tr>
                                   <th scope="col">Payout date</th>
                                       <th scope="col">Status</th>
                                       <th scope="col">Charges</th>
                                       <th scope="col">Refunds</th>
                                       <th scope="col">Adjustments</th>
                                       <th scope="col">Fees</th>
                                       <th scope="col">Total</th>
                                    </tr>
                                 </thead>
                                 <tbody>
                                    <tr>
                                       <td>Apr 3, 2019</td>
                                       <td>
                                          <div class="badge badge-pill badge-success">Paid</div>
                                       </td>
                                         <td>$4,851.99</td>
                                        <td>$0.00</td>
                                        <td>$98.37</td>
                                        <td>-$145.56</td>
                                        <td>$4,80480</td>
                                    </tr>
                                     
                                     <tr>
                                       <td>Apr 3, 2019</td>
                                       <td>
                                         <div class="badge badge-pill badge-warning">Panding</div>
                                       </td>
                                         <td>$4,851.99</td>
                                        <td>$0.00</td>
                                        <td>$98.37</td>
                                        <td>-$145.56</td>
                                        <td>$4,80480</td>
                                    </tr>
                                     
                                     <tr>
                                       <td>Apr 3, 2019</td>
                                       <td>
                                         <div class="badge badge-pill badge-danger">Failed</div>
                                       </td>
                                         <td>$4,851.99</td>
                                        <td>$0.00</td>
                                        <td>$98.37</td>
                                        <td>-$145.56</td>
                                        <td>$4,80480</td>
                                    </tr>
                                     
                                     <tr>
                                       <td>Apr 3, 2019</td>
                                       <td>
                                         <div class="badge badge-pill badge-info">Intransit</div>
                                       </td>
                                         <td>$4,851.99</td>
                                        <td>$0.00</td>
                                        <td>$98.37</td>
                                        <td>-$145.56</td>
                                        <td>$4,80480</td>
                                    </tr>
                                     <tr>
                                       <td>Apr 3, 2019</td>
                                       <td>
                                         <div class="badge badge-pill badge-Primary">Scheduled</div>
                                       </td>
                                         <td>$4,851.99</td>
                                        <td>$0.00</td>
                                        <td>$98.37</td>
                                        <td>-$145.56</td>
                                        <td>$4,80480</td>
                                    </tr>
                                     
                                     <tr>
                                       <td>Apr 3, 2019</td>
                                       <td>
                                         <div class="badge badge-pill badge-Secondary">Cancled</div>
                                       </td>
                                         <td>$4,851.99</td>
                                        <td>$0.00</td>
                                        <td>$98.37</td>
                                        <td>-$145.56</td>
                                        <td>$4,80480</td>
                                    </tr>
                                    
                                 </tbody>
                              </table>
                           </div>
                        </div>
                     </div>
                  </div>
                
                
                
             
                
            </div>
     
     
         </div>


      
      <!-- Wrapper END -->
      <!-- Footer -->
      <footer class="bg-white iq-footer">
         <div class="container-fluid">
            
         </div>
      </footer>
      <!-- Footer END -->
      <!-- Optional JavaScript -->
      <!-- jQuery first, then Popper.js, then Bootstrap JS -->
      <script src="js/jquery.min.js"></script>
      <script src="js/popper.min.js"></script>
      <script src="js/bootstrap.min.js"></script>
      <!-- Appear JavaScript -->
      <script src="js/jquery.appear.js"></script>
      <!-- Countdown JavaScript -->
      <script src="js/countdown.min.js"></script>
      <!-- Counterup JavaScript -->
      <script src="js/waypoints.min.js"></script>
      <script src="js/jquery.counterup.min.js"></script>
      <!-- Wow JavaScript -->
      <script src="js/wow.min.js"></script>
      <!-- Apexcharts JavaScript -->
      <script src="js/apexcharts.js"></script>
      <!-- Slick JavaScript -->
      <script src="js/slick.min.js"></script>
      <!-- Select2 JavaScript -->
      <script src="js/select2.min.js"></script>
      <!-- Owl Carousel JavaScript -->
      <script src="js/owl.carousel.min.js"></script>
      <!-- Magnific Popup JavaScript -->
      <script src="js/jquery.magnific-popup.min.js"></script>
      <!-- Smooth Scrollbar JavaScript -->
      <script src="js/smooth-scrollbar.js"></script>
      <!-- lottie JavaScript -->
      <script src="js/lottie.js"></script>
      <!-- am core JavaScript -->
      <script src="js/core.js"></script>
      <!-- am charts JavaScript -->
      <script src="js/charts.js"></script>
      <!-- am animated JavaScript -->
      <script src="js/animated.js"></script>
      <!-- am kelly JavaScript -->
      <script src="js/kelly.js"></script>
      <!-- Flatpicker Js -->
      <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
      <!-- Chart Custom JavaScript -->
      <script src="js/chart-custom.js"></script>
      <!-- Custom JavaScript -->
      <script src="js/custom.js"></script>