<% if (typeof followers != 'undefined'){ %>
  <% if (followers.length){ %>
    <%for(let follower of followers){%>
      <li class="d-flex mb-4 align-items-center">
        <div class="user-img img-fluid"><img src="<%=follower.img%>" alt="story-img"
            class="rounded-circle avatar-40"></div>
        <div class="media-support-info ml-3">
          <h6><%= follower.title %></h6>
        </div>
        <div class="iq-card-header-toolbar d-flex align-items-center">
          <div class="dropdown">
            <span class="dropdown-toggle text-primary" id="dropdownMenuButton41"
              data-toggle="dropdown">
              <i class="ri-more-2-line"></i>
            </span>
            <div class="dropdown-menu dropdown-menu-right p-0">
             <a class="dropdown-item Follow-brand" href="javascript:void();" data-type="unfollow" data-brand="<%= follower._id %>"><i class="ri-user-unfollow-line mr-2"></i>Unfollow</a>
              <a class="dropdown-item" href="#"><i
                  class="ri-close-circle-line mr-2"></i>Unfriend</a>
              <a class="dropdown-item" href="#"><i class="ri-lock-line mr-2"></i>block</a>
            </div>
          </div>
        </div>
      </li>
    <%}%>
  <%}%>
<%}%>